.arena {
  margin-left: calc(50% - 387px);
  margin-top: 50px;
  touch-action: none;
}

.toplayer {
  position: absolute;
  border-radius: 99px;
}

.lowlayer {
  position: absolute;
  border-radius: 99px;
}

@media only screen and (max-width: 600px) {
  // .main {
  //   justify-content: center;
  //   align-items: center;
  // }
  .arena {
    margin-left: 5px;
    margin-top: 1px;
  }
  .lowlayer {
    background-image: url('../assets/rink_clean_mob.png');
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 600px) {
  .lowlayer {
    background-image: url('../assets/rink_clean.png');
    background-repeat: no-repeat;
  }
}
